{% block courseDetailsPanelElement %}
    <div class="panel panel-primary" data-id="{{ course.id }}">
        <div class="centrum">
            <ol class="breadcrumb">
                <li>
                    <a class="unclickable">
                        {% if course.name is not null %}
                            {{ course.name }}
                        {% else %}
                            {% trans %}t.create_course.no_name_yet{% endtrans %}
                        {% endif %}
                    </a>
                </li>
            </ol>
        </div>
        <div class="media-list">
            <div class="media">
                <img class="media-object img-rounded pull-left" src="{{ asset('images/logo-skhole.png') }}"/>
                <div class="pull-right">
                    <div class="btn-group-vertical">
                        <a href="{{ path('app_teach_edit_course_page', {'id': course.id}) }}" class="btn btn-primary btn-sm">
                            {% trans %}t.create_course.b.edit_course{% endtrans %}<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </a>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseDetailsModal{{ index }}">
                            {% trans %}o.frequently_used.course_card{% endtrans %}
                        </button>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseReviewsModal{{ index }}">
                            {% trans %}t.create_course.b.view_reviews{% endtrans %}
                        </button>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseRemoveModal{{ index }}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {% trans %}t.create_course.b.course{% endtrans %}
                        </button>
                    </div>
                </div>
                <div class="media-body">
                    {% if course.description is not null %}
                        {{ course.description|length > 250 ? course.description|slice(0, 250) ~ '...' : course.description}}
                    {% else %}
                        {% trans %}t.create_course.no_description_found{% endtrans %}
                    {% endif %}
                    <br />
                    <button type="button" class="btn btn-default btn-xs unclickable">
                        <b class="text-primary">
                            {% trans %}t.create_course.b.course_published{% endtrans %}?
                            <span class="glyphicon
                                {% if course.state.stateCode == 'OK' %} glyphicon-ok text-success
                                {% else %} glyphicon-minus text-danger{% endif %}" aria-hidden="true">
                            </span>
                        </b>
                        <button type="button" class="btn btn-default btn-xs unclickable" data-toggle="tooltip" data-placement="top"
                                title="{% trans %}t.create_course.b.tooltip.user_which_created{% endtrans %}">
                            <b>{% trans %}o.frequently_used.instructor{% endtrans %}:</b> {{ course.insertUser.realName }}
                        </button>
                        <button type="button" class="btn btn-default btn-xs unclickable" data-toggle="tooltip" data-placement="top"
                                title="{% trans %}t.create_course.b.tooltip.number_of_views{% endtrans %}">
                            <b>{% trans %}t.create_course.b.view_number{% endtrans %}:</b> {{ course.views }}
                        </button>
                        <button type="button" class="btn btn-default btn-xs unclickable" data-toggle="tooltip" data-placement="top"
                                title="{% trans %}t.create_course.b.tooltip.rating_total{% endtrans %}:{{ course.courseViews|length }}">
                            <b>{% trans %}t.create_course.b.rating{% endtrans %}:</b>
                            {% if course.averageContentRating is not null %}
                                {% for i in 0..course.averageContentRating|round %}
                                    <img src="{{ asset('images/star_rating.png') }}" class="img-rounded">
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </button>
                        <button type="button" class="btn btn-default btn-xs unclickable" data-toggle="tooltip" data-placement="top">
                            <b>{% trans %}t.create_course.b.pages{% endtrans %}:</b> {{ course.coursePages|length }}
                        </button>
                        <button type="button" class="btn btn-default btn-xs unclickable" data-toggle="tooltip" data-placement="top"
                                title="{% trans %}t.create_course.b.tooltip.education_instution{% endtrans %}">
                            <b>{% trans %}t.create_course.b.education_instution{% endtrans %}:</b> {{ course.courseCard is not null ? (course.courseCard.providers|length > 0 ? course.courseCard.providers[0].name : '-') : '-' }}
                        </button>
                        <button type="button" class="btn btn-default btn-xs unclickable" data-toggle="tooltip" data-placement="top"
                                title="{% trans %}t.create_course.b.tooltip.estimation{% endtrans %}">
                            <b>{% trans %}t.create_course.b.course_duration{% endtrans %}:</b> {{ course.estimatedDuration is not null ? (course.estimatedDuration/60)|number_format : '-' }} {% trans %}o.frequently_used.hour{% endtrans %}
                        </button>
                        <button type="button" class="btn btn-default btn-xs unclickable" data-toggle="tooltip" data-placement="top"
                                title="{% trans %}t.create_course.b.tooltip.estimation{% endtrans %}">
                            <b>{% trans %}t.create_course.b.difficulty{% endtrans %}:</b>
                            {% if course.difficulty is not null %}
                                {% for i in 1..course.difficulty %}
                                    <img src="{{ asset('images/star_rating.png') }}" class="img-rounded">
                                {% endfor %}
                            {% else %}
                                -
                            {% endif %}
                        </button>
                        <button type="button" class="btn btn-default btn-xs unclickable" data-toggle="tooltip" data-placement="top"
                                title="{% trans %}t.create_course.b.tooltip.education_level{% endtrans %}">
                            <b>{% trans %}t.create_course.b.education_level{% endtrans %}:</b> {{ course.level is not null ? course.level.levelLong|trans({}, 'db') : '-' }}
                        </button>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}