{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
    <b>{% trans %}Documenten{% endtrans %}</b>
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        {% if course.courseResources is not null %}
            <h4>{% trans %}Link naar cursusmateriaal{% endtrans %}</h4>
            <p>{% trans %}Het cursusmateriaal is beschikbaar via de onderstaande links{% endtrans %}</p>
            <hr />
            {% if course.courseResources.dropboxUrl is not empty %}
                <h4>
                    <img src="{{ asset('images/resource-dropbox.png') }}" class="img-rounded">
                    {% trans %}Dropbox url{% endtrans %}:
                </h4>
                <a target="_blank" href="{{ course.courseResources.dropboxUrl }}">{{ course.courseResources.dropboxUrl }}</a>
            {% endif %}

            {% if course.courseResources.googleDriveUrl is not empty %}
                <h4>
                    <img src="{{ asset('images/resource-g.png') }}" class="img-rounded">
                    {% trans %}Google Drive url{% endtrans %}:
                </h4>
                <a target="_blank" href="{{ course.courseResources.googleDriveUrl }}">{{ course.courseResources.googleDriveUrl }}</a>
            {% endif %}
        {% else %}
            <hr />
            <div class="centrum">
                <p>{% trans %}Deze cursus heeft geen additionele cursusmateriaal{% endtrans %}</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block panelBaseFooter %}
    {% include ':panels/learn/study/standard:study.standard.panel.footer.html.twig' %}
{% endblock %}