{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            {% trans %}mo.education_profile{% endtrans %}
        </b>
        <br>
        <span class="text-muted">{{ user.firstName|capitalize }} {{ user.surname|capitalize }}</span>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <h4>
            <img src="{{ asset('images/logo-skhole.png') }}" class="img-rounded" alt="{% trans %}alt.teachter_picture{% endtrans %}" title="{% trans %}alt.teachter_picture{% endtrans %}">
            {% trans %}mo.education_profile.education{% endtrans %}
        </h4>
        <div class="btn-group-xs">
            {% if user.education is not null %}
                <button class="btn btn-default unclickable" type="button">
                    <b>{% trans %}mo.education.class{% endtrans %}:</b>
                    {{ user.education.class|default('-') }}
                </button>
                <button class="btn btn-default unclickable" type="button">
                    <b>{% trans %}mo.education.study_year{% endtrans %}:</b>
                    {{ user.education.schoolYear|default('-') }}
                </button>
                <button class="btn btn-default unclickable" type="button">
                    <b>{% trans %}mo.education.school_level{% endtrans %}:</b>
                    {{ user.education.level|default('-') }}
                </button>
            {% else %}
                <button class="btn btn-default unclickable" type="button">
                    <b>{% trans %}mo.education_profile.no_educational_data_found{% endtrans %}</b>
                </button>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block closeButtonText %}
    {% trans %}o.frequently_used.close{% endtrans %}
{% endblock %}
{% set modalBaseType = 'close' %}