{% extends ':modal:modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            {% trans %}mo.remove_student_report{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <hr />
        <p class="lead centrum">
            {% trans %}mo.deleltion_cannot_be_undone{% endtrans %}
        </p>
        <br />
          <br />
        <p class="centrum">
            {% trans %}mo.remove_student_report.t_long_01{% endtrans %} "<b>{{ report.report.course.name }}</b>" {% trans %}mo.remove_student_report.t_long_02{% endtrans %} "<b>{{ report.user.firstName|capitalize }} {{ report.user.surname|capitalize }}</b>" {% trans %}mo.remove_details_are_you_sure{% endtrans %}
        </p>
    </div>
{% endblock %}
{% set modalBaseType = 'choice' %}
{% block modalBaseYesId %}{{ report.id }}{% endblock %}
{% block modalBaseYesAction %}Remove{% endblock %}