{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    {% trans %}Over ons{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <h4><b>{% trans %}Algemeen{% endtrans %}</b></h4>
        <p>{% trans %}StudyLivre is begonnen in 2016. StudyLivre is begonnen in 2016. StudyLivre beidt je de mogelijkheid om cursussen te bekijken, maken en delen. Na afronding van een cursus kun je een cursusrapport (met daarin je resultaten) inzien. Als begeleider of docent is het mogelijk om cursusrapporten in te zien van cursisten die het rapport met jouw hebben gedeeld.{% endtrans %}</p>
        <div class="logo-background">
            <h4>
                <img src="{{ asset('images/logo-skhole.png') }}" class="img-rounded" height="28px">
                <b>
                    <span class="text-muted">{% trans %}Study{% endtrans %}</span>
                    <span class="text-primary">{% trans %}Livre{% endtrans %}</span>
                </b>
                <small>{% trans %}empowering education{% endtrans %}</small>
            </h4>
        </div>
        <br>
        <p>
            {% trans %}Volg ons{% endtrans %}
            <a href="#{#TODO#}">
                <img src="{{ asset('images/login-fb.png') }}" class="img-rounded" title="{% trans %}Volg ons op facebook{% endtrans %}">
            </a>
            <a href="#{#TODO#}">
                <img src="{{ asset('images/login-t.png') }}" class="img-rounded" title="{% trans %}Volg ons op twitter{% endtrans %}">
            </a>
            <a href="#{#TODO#}">
                <img src="{{ asset('images/login-g.png') }}" class="img-rounded" title="{% trans %}Volg ons op google{% endtrans %}">
            </a>
        </p>
        <hr />
        <h4>
            <b>{% trans %}Adres{% endtrans %}</b>
        </h4>
        <div class="row">
            <div class="col-md-6">
                <iframe width="100%" height="350" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC-DpWY549XyaPIetw9Vs2N_NrCjJLj-kE
                &q=Hilversum+Nederland&language={{ app.request.locale }}" marginwidth="0" marginheight="0" scrolling="no"></iframe>
            </div>
            <div class="col-md-6">
                {#TODO company#}
                <h2>{% trans %}Bedrijfsnaam{% endtrans %}</h2>
                <p>
                    <b>{% trans %}De bedrijfsnaam{% endtrans %}</b>
                </p>
            </div>
        </div>
    </div>
{% endblock %}