{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <span class="glyphicon glyphicon-flag"></span> {% trans %}o.give_notice.submit_notice{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <form id="sendReport" class="form-horizontal" data-url="{{ path('app_home_ajax_page') }}">
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}o.frequently_used.course_name{% endtrans %}</label>
                <div class="col-sm-10">
                    <input class="form-control data-value" data-attribute="name" placeholder="{% trans %}o.give_notice.f_placeholder.course_name{% endtrans %}"
                        {% if course is not null %}value="{{ course.name }}" disabled data-id="{{ course.id }}" {% else %}data-id="-1"{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}o.give_notice.f_label.course_page{% endtrans %}</label>
                <div class="col-sm-10">
                    <input class="form-control data-value" data-attribute="page" placeholder="{% trans %}o.give_notice.f_placeholder.course_page{% endtrans %}"
                        {% if page is not null %}value="{{ page.title }}" disabled data-id="{{ page.id }}"{% else %}data-id="-1"{% endif %}>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}o.give_notice.parts{% endtrans %}</label>
                <div class="col-sm-10">
                    <select class="form-control data-value" data-attribute="coursePart">
                        <option value="Other" {% if coursePart == 'other' %}selected{% endif %}>{% trans %}o.give_notice.parts.other{% endtrans %}</option>
                        <option value="CourseCard" {% if coursePart == 'courseCard' %}selected{% endif %}>{% trans %}o.give_notice.parts.course_card{% endtrans %}</option>
                        <option value="CourseMaterial" {% if coursePart == 'courseMaterial' %}selected{% endif %}>{% trans %}o.give_notice.parts.course_material{% endtrans %}</option>
                        <option value="CourseReview" {% if coursePart == 'courseReview' %}selected{% endif %}>{% trans %}o.give_notice.parts.review{% endtrans %}</option>
                        <option value="Announcement" {% if coursePart == 'courseAnnouncement' %}selected{% endif %}>{% trans %}o.give_notice.parts.annoucement{% endtrans %}</option>
                        <option value="CourseSchedule" {% if coursePart == 'courseSchedule' %}selected{% endif %}>{% trans %}o.give_notice.parts.planning{% endtrans %}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}o.give_notice.f_label.for_what{% endtrans %}</label>
                <div class="col-sm-10">
                    <div class="radio">
                        <label>
                            <input class="control-label data-value" data-attribute="subject" data-type="Copyright" type="radio" checked name="subject">
                            {% trans %}o.give_notice.f_label.for_what.option.author_right{% endtrans %}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input class="control-label data-value" data-attribute="subject" data-type="Undesirable" type="radio" name="subject">
                            {% trans %}o.give_notice.f_label.for_what.option.inappropriate_content{% endtrans %}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input class="control-label data-value" data-attribute="subject" data-type="Other" type="radio" name="subject">
                            {% trans %}o.give_notice.f_label.for_what.option.other{% endtrans %}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}o.give_notice.f_label.explanation{% endtrans %}</label>
                <div class="col-sm-10">
                    <textarea class="form-control data-value" data-attribute="message" rows="12"placeholder="{% trans %}o.give_notice.f_placeholder.explanation{% endtrans %}"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}o.give_notice.f_label.email{% endtrans %}</label>
                <div class="col-sm-10">
                    <input class="form-control data-value" data-attribute="email" placeholder="{% trans %}o.give_notice.f_placeholder.email{% endtrans %}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}o.give_notice.f_label.phone{% endtrans %}</label>
                <div class="col-sm-10">
                    <input class="form-control data-value" data-attribute="phone" placeholder="{% trans %}o.give_notice.f_placeholder.phone{% endtrans %}">
                </div>
            </div>
            <div class="form-group">
                <div class="centrum">
                    <button class="btn btn-default btn-lg" type="submit">
                        <b>{% trans %}o.frequently_used.send{% endtrans %}</b>
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}