{% block customPagesOverview %}
    <div class="tab-pane fade in active">
        <h4 class="centrum">
            <b>{% trans %}Pagina overzicht{% endtrans %}</b>
        </h4>
        <br />
        <p class="centrum alert-info">{% trans %}Klik en sleep de pagina's om de volgorde te wijzigen{% endtrans %}</p>
        <div class="panel-body-pages">
            <ul id="sortable" class="list-group pages-overview" data-name="pages">
                {% for page in pages %}
                    {% if page.pageType.type == 'text' %}
                        {% set name = 'text-instruction' %}
                    {% elseif page.pageType.type == 'video-text' %}
                        {% set name = 'text-video-instruction' %}
                    {% elseif page.pageType.type == 'exercise' %}
                        {% set name = 'questions' %}
                    {% endif %}
                    <li class="list-group-item" data-page-id="{{ page.id }}" data-original-order="{{ page.pageOrder }}">
                        <a href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'custom', 'name': name, 'pageId': page.id}) }}">
                            {% trans %}Pagina {% endtrans %} <span class="page-overview-order">{{ page.pageOrder }}</span>
                            {{ page.title }}
                        </a>
                        <span class="glyphicon glyphicon-trash clickable pull-right" data-target="#removePageModal{{ loop.index }}" data-toggle="modal" aria-hidden="true"></span>
                    </li>
                {% endfor %}
            </ul>
            {% for page in pages %}
                {% include ':modal/create-course:course.page.remove.modal.html.twig' with {'page': page, 'modalId': 'removePageModal'~loop.index} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}