{% block standardNavigationButtons %}
    <div class="standard-navigation">
        <div class="btn-group" role="group">
            <a class="check-changes btn btn-default btn-sm {% if active == 'start' %}active{% endif %}" href="{{ path('app_teach_edit_course_page', {'id': course.id}) }}">
                {% trans %}t.create_course.nav.start{% endtrans %}
            </a>
        </div>
        <div class="btn-group" role="group">
            <a class="check-changes btn btn-default btn-sm {% if active == 'search' %}active{% endif %}" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'standard', 'name': 'course-information'}) }}">
                1. | <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
                {% trans %}t.create_course.nav.search_data{% endtrans %}
            </a>
        </div>
        <div class="btn-group" role="group">
            <button class="{% if active == 'card introduction' or active == 'card provider' or active == 'card teacher' %}active{% endif %} btn btn-default btn-sm dropdown-toggle"
                    aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" type="button">
                2. | <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                {% trans %}t.create_course.nav.course_card{% endtrans %}
                | <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li class="{% if active == 'card introduction' %}active{% endif %}">
                    <a class="check-changes" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'standard', 'name': 'card-introduction'}) }}">2.1 | {% trans %}t.create_course.nav.li.introduction{% endtrans %}</a>
                </li>
                <li class="{% if active == 'card provider' %}active{% endif %}">
                    <a class="check-changes" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'standard', 'name': 'card-provider'}) }}">2.2 | {% trans %}t.create_course.nav.li.prereq_and_provider{% endtrans %}</a>
                </li>
                <li class="{% if active == 'card teacher' %}active{% endif %}">
                    <a class="check-changes" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'standard', 'name': 'card-teacher'}) }}">2.3 | {% trans %}t.create_course.nav.li.instructors{% endtrans %}</a>
                </li>
            </ul>
        </div>
        <div class="btn-group" role="group">
            <a class="check-changes btn btn-default btn-sm {% if active == 'schedule' %}active{% endif %}" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'standard', 'name': 'card-schedule'}) }}">
                3. | <span class="glyphicon glyphicon-list-alt"></span>
                {% trans %}t.create_course.nav.planning{% endtrans %}
            </a>
        </div>
        <div class="btn-group" role="group">
            <a class="check-changes btn btn-default btn-sm {% if active == 'announcement' %}active{% endif %}" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'standard', 'name': 'course-announcement'}) }}">
                4. | <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
                {% trans %}t.create_course.nav.annoucements{% endtrans %}
            </a>
        </div>
        <div class="btn-group" role="group">
            <a class="check-changes btn btn-default btn-sm {% if active == 'resources' %}active{% endif %}" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'standard', 'name': 'course-resources'}) }}">
                5. | <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                {% trans %}t.create_course.nav.documents{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}