{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            {% trans %}mo.add_instructor{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body {% if teacher is not defined %}clear-modal-teachers-values{% endif %}">
        <ul class="media-list">
            <li class="media">
                <div class="media-body">
                    <form class="add-teacher-form">
                        <div class="form-group">
                            <label class="control-label">{% trans %}mo.instructor{% endtrans %}</label>
                            <input required="required" type="text" class="form-control data-value" data-value-name="name" placeholder="{% trans %}mo.instructor.f_placeholder.name_instructor{% endtrans %}" {% if teacher is defined and teacher.name is not null %}value="{{ teacher.name }}"{% endif %}>
                        </div>
                        <div class="form-group">
                            <label class="control-label">{% trans %}mo.description{% endtrans %}</label>
                            <textarea class="form-control data-value" data-value-name="description" placeholder="{% trans %}mo.instructor.f_placeholder.something_about_instructor{% endtrans %}" rows="5">{% if teacher is defined and teacher.description is not null %}{{ teacher.description }}{% endif %}</textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">{% trans %}mo.select_image{% endtrans %}</label>
                                    <input class="teacher-picture" type="file">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="control-label">{% trans %}mo.current_image{% endtrans %}</label>
                                <br />
                                <div class="teacher-picture-preview" data-error="{% trans %}mo.select_img_right_extention{% endtrans %}">
                                    {% if teacher is defined and teacher.pictureUrl is not null %}
                                        <img src="{{ asset(teacher.pictureUrl) }}" class="teacher-picture-preview-img">
                                    {% else %}
                                        <img src="{{ asset('images/head-wiseguy.png') }}" class="teacher-picture-preview-img">
                                    {% endif %}
                                </div>
                            </div>
                            <input class="uploaded-teacher-picture data-value" data-value-name="pictureUrl" type="hidden" value="{% if teacher is defined and teacher.pictureUrl is not null %}{{ teacher.pictureUrl }}{% endif %}">
                            <input class="data-value" data-value-name="teacherId" type="hidden" value="{% if teacher is defined %}{{ teacher.id }}{% else %}0{% endif %}">
                        </div>
                    </form>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
{% block modalBaseFooter %}
    <div class="modal-footer">
        <button class="btn btn-default save-teacher" type="button">
            <span class="glyphicon glyphicon-floppy-disk text-primary" aria-hidden="true"></span>
            {% trans %}o.frequently_used.save_and_close{% endtrans %}
        </button>
        <button class="btn btn-default" data-dismiss="modal" type="button">{% trans %}o.frequently_used.cancel{% endtrans %}</button>
    </div>
{% endblock %}