{% block studyPageQuestionMultipleChoice %}
    <div class="thumbnail multi-question" data-question-id="{{ question.id }}">
        <h5>
            <b>{% trans %}o.frequently_used.question{% endtrans %} {{ question.questionOrder }}</b>
            {{ question.question|capitalize }}
        </h5>
        {% for answer in question.courseAnswers %}
            <div class="checkbox">
                <label>
                    <input class="answer" type="checkbox" data-answer-id="{{ answer.id }}"
                        {% if question.id in answeredQuestions|keys and answer.id in answeredQuestions[question.id].multipleChoiceAnswers %}checked{% endif %}>
                    {{ answer.answerOrder|orderToAlphabet(true) }}.) {{ answer.answer|capitalize }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}