{% block footer %}
    {% trans_default_domain "elements" %}
    <footer class="navbar navbar-default">
        <div class="container-fluid">
           
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="{{ asset('images/logo-skhole.png') }}" class="img-rounded">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('app_other_about_us', {'_locale': app.request.locale}) }}">{% trans %}about.us{% endtrans %}</a></li>
                        <li><a href="{{ path('app_other_contact', {'_locale': app.request.locale}) }}">{% trans %}contact{% endtrans %}</a></li>
                        <li><a href="{{ path('app_other_frequently_asked_questions_page', {'_locale': app.request.locale}) }}">{% trans %}frequently.asked.questions{% endtrans %}</a></li>
                    </ul>
                </div>
                <div class="btn-group dropup">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {% trans %}footer.social.media{% endtrans %}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="centrum">
                            <a class="pull-left" target="_blank" href="https://www.facebook.com/studylivre/">
                                <img class="img-rounded" src="{{ asset('images/social-media-fb.png') }}">
                                Facebook
                            </a>
                            <div class="fb-like" data-href="https://www.facebook.com/studylivre/" data-layout="button" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                            <hr />
                        </li>
                        <li>
                            <a target="_blank" href="https://plus.google.com/b/102712635638531679689/?pageId=102712635638531679689">
                                <img class="img-rounded" src="{{ asset('images/social-media-gp.png') }}">
                                Google
                            </a>
                            <div class="centrum">
                                <div class="g-plusone" data-size="medium" data-annotation="none" data-href="https://plus.google.com/b/102712635638531679689/?pageId=102712635638531679689"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="btn-group dropup remove-responsive-400">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{ 'h.nav.getting_started'|trans({}, 'messages') }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="{{ path('app_home_getting_started_custom_page', {'page': 'introduction', '_locale': app.request.locale}) }}">
                                {{ 'h.nav.getting_started.intro'|trans({}, 'messages') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_home_getting_started_custom_page', {'page': 'followCourse', '_locale': app.request.locale}) }}">
                                {{ 'h.nav.getting_started.follow_course'|trans({}, 'messages') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('app_home_getting_started_custom_page', {'page': 'createCourse', '_locale': app.request.locale}) }}">
                                {{ 'h.nav.getting_started.create_course'|trans({}, 'messages') }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="centrum">
                <span class="text-muted">StudyLivre 2016 ©</span>
                <b><span>|</span></b>
                <a href="{{ path('app_other_copyright_page', {'_locale': app.request.locale}) }}">{% trans %}footer.copyright{% endtrans %}</a>
                <b><span>|</span></b>
                <a href="{{ path('app_other_guidelines', {'_locale': app.request.locale}) }}">{% trans %}footer.guidelines{% endtrans %}</a>
            </div>
            <div class="centrum">
                <a class="clickable" data-toggle="modal" data-target="#languagePickerModal">
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    {% trans %}footer.language{% endtrans %}
                </a>
                <b><span>|</span></b>
                <a href="{{ path('app_other_legal', {'_locale': app.request.locale, 'page': 'conditions'}) }}">{% trans %}footer.conditions{% endtrans %}</a>
                <b><span>|</span></b>
                <a href="{{ path('app_other_legal', {'_locale': app.request.locale, 'page': 'privacy'}) }}">{% trans %}footer.privacy.policy{% endtrans %}</a>
                <b><span>|</span></b>
                <a href="{{ path('app_other_legal', {'_locale': app.request.locale, 'page': 'cookie'}) }}">{% trans %}footer.cookie.policy{% endtrans %}</a>
            </div>
     
    </footer>
{% endblock %}