{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div id="logo">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{% trans %}h.quickmenu{% endtrans %}">
                        <img src="{{ asset('images/logo-skhole.png') }}" class="img-rounded" style="height: 35px;" />
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('app_home_dashboard_page', {'_locale': app.request.locale}) }}">{% trans %}o.frequently_used.search{% endtrans %}</a></li>
                        <li><a href="{{ path('app_other_guidelines', {'_locale': app.request.locale}) }}">{% trans %}o.nav.guidlines{% endtrans %}</a></li>
                        <li>
                            <a class="clickable" data-toggle="modal" data-target="#languagePickerModal">
                                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                {% trans %}o.nav.language{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% if context is not defined or context != 'exception' %}
                <div class="navbar-header">
                    <div class="btn-group">
                        {% if app.user %}
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="{% trans %}o.nav.my_account{% endtrans %}">
                                <img id="profile-picture-header" src="{{ app.user.picture is not null ? asset(app.user.picture) : asset('images/gebruiker.png') }}" class="img-rounded profile-picture"> {% trans %}o.my_account{% endtrans %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('app_home_profile_page', {'_locale': app.request.locale}) }}">{% trans %}o.nav.profile{% endtrans %}</a></li>
                                <li><a href="{{ path('app_learn_course_collection_page', {'_locale': app.request.locale}) }}">{% trans %}o.nav.course_basket{% endtrans %}</a></li>
                                <li><a href="{{ path('app_teach_progression_course_members', {'_locale': app.request.locale}) }}">{% trans %}o.nav.progress_students{% endtrans %}</a></li>
                                <li><a href="{{ path('app_teach_my_courses_page', {'_locale': app.request.locale}) }}">{% trans %}o.nav.my_courses{% endtrans %}</a></li>
                                <li class="divider"></li>
                                <li><a href="{{ url('logout') }}">{% trans %}o.nav.log_out{% endtrans %}</a></li>
                            </ul>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#loginModal">
                                <img src="{{ asset('images/gebruiker.png') }}" class="img-rounded profile-picture" />
                                {% trans %}o.nav.login{% endtrans %}
                            </button>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}