{% block homeNavigationMenu %}
    <ul class="nav nav-pills">
        <li class="{% if subMenu == 'dashboard' %}active{% endif %}">
            <a href="{{ path('app_home_dashboard_page') }}">
                <span class="glyphicon glyphicon-search"></span>
                <span class="remove-responsive-400">{% trans %}o.frequently_used.search{% endtrans %}</span>
            </a>
        </li>
        <li class="{% if subMenu == 'study' %}active{% endif %}">
            <a href="{{ path('app_home_study_page') }}">
                {% trans %}o.frequently_used.study{% endtrans %}
            </a>
        </li>
        <li class="{% if subMenu == 'profile' %}active{% endif %}">
            <a href="{{ path('app_home_profile_page') }}">
                {% trans %}o.nav.profile{% endtrans %}
            </a>
        </li>
        <li role="presentation" class="dropdown {% if subMenu == 'introduction' or subMenu == 'followCourse' or subMenu == 'createCourse' or subMenu == 'courseReport'%}active{% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-info-sign"></span>
                <span class="remove-responsive-400">{% trans %}h.nav.getting_started{% endtrans %}</span>
                <span class="remove-responsive-400 caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="{% if subMenu == 'introduction'%}active{% endif %}"><a href="{{ path('app_home_getting_started_custom_page', {'page': 'introduction'}) }}">{% trans %}h.nav.getting_started.intro{% endtrans %}</a></li>
                <li class="{% if subMenu == 'followCourse'%}active{% endif %}"><a href="{{ path('app_home_getting_started_custom_page', {'page': 'followCourse'}) }}">{% trans %}h.nav.getting_started.follow_course{% endtrans %}</a></li>
                <li class="{% if subMenu == 'createCourse'%}active{% endif %}"><a href="{{ path('app_home_getting_started_custom_page', {'page': 'createCourse'}) }}">{% trans %}h.nav.getting_started.create_course{% endtrans %}</a></li>
                <li class="{% if subMenu == 'courseReport'%}active{% endif %}"><a href="{{ path('app_home_getting_started_custom_page', {'page': 'courseReport'}) }}">{% trans %}h.nav.getting_started.course_report{% endtrans %}</a></li>
            </ul>
        </li>
        {% include ':elements:mail.item.html.twig' %}
    </ul>
{% endblock %}