{% block moreNavigationMenu %}
    <ul class="nav nav-pills">
        <li class="{% if subMenu == 'aboutUs' %}active{% endif %}">
            <a href="{{ path('app_other_about_us') }}">{% trans %}Over ons{% endtrans %}</a>
        </li>
        <li class="{% if subMenu == 'copyright' %}active{% endif %}">
            <a href="{{ path('app_other_copyright_page') }}">{% trans %}Auteursrecht{% endtrans %}</a>
        </li>
        <li role="presentation" class="dropdown {% if subMenu == 'contact' or subMenu == 'questions' or subMenu == 'guidelines' or subMenu == 'legal' %}active{% endif %}">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {% trans %}Overige{% endtrans %} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="{% if subMenu == 'contact' %}active{% endif %}">
                    <a href="{{ url('app_other_contact') }}">{% trans %}Contact{% endtrans %}</a>
                </li>
                <li class="{% if subMenu == 'questions' %}active{% endif %}">
                    <a href="{{ url('app_other_frequently_asked_questions_page') }}">{% trans %}Vragen{% endtrans %}</a>
                </li>
                <li class="{% if subMenu == 'guidelines' %}active{% endif %}">
                    <a href="{{ url('app_other_guidelines') }}">{% trans %}Richtlijnen{% endtrans %}</a>
                </li>
                <li class="{% if subMenu == 'legal' %}active{% endif %}">
                    <a href="{{ url('app_other_legal') }}">{% trans %}Juridisch{% endtrans %}</a>
                </li>
            </ul>
        </li>
        {% include ':elements:mail.item.html.twig' %}
    </ul>
{% endblock %}