{% block navigationMenu %}
    <ul class="nav nav-tabs" role="tablist">
        <li class="{% if menu == 'home' %}active{% endif %}" title="{% trans %}nav.home{% endtrans %} ">
            <a href="{{ path('app_home_dashboard_page', {'_locale': app.request.locale}) }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
        </li>
        <li class="{% if menu == 'learn' %}active{% endif %}" title="{% trans %}nav.basket{% endtrans %} ">
            <a href="{{ path('app_learn_study_page', {'_locale': app.request.locale}) }}">
                <img src="{% if menu == 'learn' %}{{ asset('images/basket_black.png') }}{% else %}{{ asset('images/basket_blue.png') }}{% endif %}">
                <span class="remove-responsive-400">{% trans %}nav.basket{% endtrans %}</span>
            </a>
        </li>
        <li class="{% if menu == 'teach' %}active{% endif %}" title="{% trans %}nav.create_course{% endtrans %}">
            <a href="{{ path('app_teach_my_courses_page', {'_locale': app.request.locale}) }}">
                <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                <span class="remove-responsive-400">{% trans %}nav.create_course{% endtrans %}</span>
            </a>
        </li>
        <li class="{% if menu == 'more' %}active{% endif %}" title="{% trans %}nav.more{% endtrans %} ">
            <a href="{{ path('app_other_about_us', {'_locale': app.request.locale}) }}">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
            </a>
        </li>
    </ul>
{% endblock %}
