{% block reportPagination %}
    {% set maxPages = 5 %}
    {% set totalPages = pages|length %}
    {% set middlePage = (maxPages/2)|round(0, 'ceil') %}
    {% set offset = offset + 1 %}

    {% if totalPages <= maxPages or offset <= middlePage %}
        {% set startPage = 0 %}
    {% else %}
        {% set startPage = offset - middlePage %}
    {% endif %}

    {% set urlPathCustom = viewType == 'teach' ? 'app_teach_show_report_custom' : 'app_learn_course_report_details_custom' %}
    {% set urlPathPages = viewType == 'teach' ? 'app_teach_show_report_page' : 'app_learn_course_report_details_page' %}
    {% set reportId = viewType == 'teach' ? sharedReport.id : report.id %}

    <div class="centrum">
        <ul class="pagination" data-disable="true">
            <li class="disabled"><a class="unclickable"><b>{% trans %}o.frequently_used.pages{% endtrans %}</b> </a></li>
            <li class="clickable {% if name is defined and name == 'front' %}active{% endif %}">
                <a href="{{ path(urlPathCustom, {'name': 'front', 'id': reportId}) }}">I</a>
            </li>
            <li class="clickable {% if name is defined and name == 'overview' %}active{% endif %}">
                <a href="{{ path(urlPathCustom, {'name': 'overview', 'id': reportId}) }}">II</a>
            </li>
            {% for pageInArray in pages|slice(startPage, maxPages) %}
                {% set currentPage = startPage + (1 * (loop.index - 1)) + 1 %}
                <li class="clickable {% if name is not defined and page.id == pageInArray.id %}active{% endif %}">
                    <a href="{{ path(urlPathPages, {'id': reportId, 'pageId': pageInArray.id}) }}">{{ currentPage }}</a>
                </li>
            {% endfor %}
            <li class="clickable {% if name is defined and name == 'end' %}active{% endif %}">
                <a href="{{ path(urlPathCustom, {'name': 'end', 'id': reportId}) }}">III</a>
            </li>
            {# The next button #}
            {% if name is defined and name != 'end' %}
                <li class="clickable">
                    <a href="{% if name == 'front' %}{{ path(urlPathCustom, {'name': 'overview', 'id': reportId}) }}{% elseif name == 'overview' and totalPages > 0 %}{{ path(urlPathPages, {'id': reportId, 'pageId': (pages|first).id}) }}{% endif %}">
                        {% trans %}o.frequently_used.next{% endtrans %}
                    </a>
                </li>
            {% elseif offset < totalPages %}
                <li class="clickable">
                    <a href="{{ path(urlPathPages, {'id': reportId, 'pageId': pages[offset].id}) }}">
                        {% trans %}o.frequently_used.next{% endtrans %}
                    </a>
                </li>
            {% elseif name is not defined and offset == totalPages %}
                <li class="clickable">
                    <a href="{{ path(urlPathCustom, {'name': 'end', 'id': reportId}) }}">
                        {% trans %}o.frequently_used.next{% endtrans %}
                    </a>
                </li>
            {% elseif name is defined and name == 'end' %}
                <li class="clickable">
                    <a href="{{ path(urlPathCustom, {'name': 'front', id: reportId}) }}">
                        {% trans %}o.frequently_used.next{% endtrans %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}