{% block base %}
    <!DOCTYPE html>
    <html>
    <head>
        <link rel="icon" type="image/png" href="{{ asset('images/star_rating.png') }}">

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="{% block keywords %}{% endblock %}" >
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="Skhole Programmers">

        <title>StudyLivre {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="{{ asset('js/jquery.query-object.js') }}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
        <script src="{{ asset('js/utils.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% block prescripts %}{% endblock %}
    </head>
    <body>
        {% include 'elements/header.html.twig' %}
        <div class="container">
            {% include 'elements/navigation.menu.html.twig' %}
            {% include "elements/#{menu}.navigation.menu.html.twig" %}
            {% block body %}{% endblock %}
        </div>
        {% include 'elements/footer.html.twig' %}

        <div class="ajax-error-modal"></div>
        {% block modals %}{% endblock %}
        {% include ':modal/elements:login.modal.html.twig' with {'modalId': 'loginModal'} %}
        {% include ':modal/elements:login.picker.modal.html.twig' with {'modalId': 'languagePickerModal'} %}
        {% block postscripts %}{% endblock %}
    </body>
    </html>
{% endblock %}