{% block courseCollectionItemRow %}
    <div class="panel panel-default" data-id="{{ course.id }}">
        <div class="centrum">
            <ol class="breadcrumb">
                <li>
                    <a class="unclickable">{{ course.name }}</a>
                </li>
            </ol>
        </div>
        <div class="media-list">
            <div class="media">
                <span class="pull-left remove-responsive-800">
                    <img src="{{ asset('images/logo-skhole.png') }}" class="media-object">
                </span>
                <div class="pull-right">
                    <div class="btn-group-vertical">
                        <a href="{{ path('app_learn_study_course_page', {'courseId': course.id}) }}" class="btn btn-primary btn-sm">
                            {% trans %}o.frequently_used.to_course{% endtrans %}
                        </a>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseCardDetailsModal{{ index }}">
                            {% trans %}o.frequently_used.course_card{% endtrans %}
                        </button>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#removeCollectionItem{{ index }}">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            {% trans %}o.frequently_used.course{% endtrans %}
                        </button>
                    </div>
                </div>
                <div class="media-body">
                    {% if course.description is not null %}
                        {{ course.description|length > 250 ? course.description|slice(0, 250) ~ '...' : course.description}}
                    {% endif %}
                    <br />
                    {% include ':ajax/components/course-card:course.card.detail.buttons.public.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}