{% block profileDetailsButtons %}
    <h4>
        <img src="{{ asset('images/gebruiker.png') }}" class="img-rounded profile-picture" alt="{% trans %}alt.user{% endtrans %}" title="{% trans %}alt.user{% endtrans %}"/>
        {% trans %}h.person{% endtrans %}
    </h4>
    <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.b.sur_name{% endtrans %}:</b> {{ user.firstName|default('-') }}</button>
    <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.b.last_name{% endtrans %}:</b> {{ user.surname|default('-') }}</button>
    <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.b.email{% endtrans %}:</b> {{ user.customEmail|default('-') }}</button>
    <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.b.date_of_birth{% endtrans %}:</b> {{ user.dateOfBirth is not null ? user.dateOfBirth|date('d-m-Y') : '-' }}</button>
    <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.b.country{% endtrans %}:</b> {{ user.country|default('-') }}</button>
    <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.b.language{% endtrans %}:</b> {{ user.language|default('-') }}</button>
    <button type="button" class="btn btn-default btn-xs"><b>{% trans %}h.profile.b.member_since{% endtrans %}:</b> {{ user.insertDateTime|date('d-m-Y') }}</button>
{% endblock %}