{% block questionOrderOverview %}
    <div class="panel-body-pages">
        <ul id="sortable" class="list-group questions-overview" data-name="questions">
            {% for question in exercise.questions %}
                <li class="list-group-item" data-question-id="{{ question.id }}" data-original-order="{{ question.questionOrder }}">
                    <a class="load-question" data-question-id="{{ question.id }}" data-type="{{ question.questionType.type }}">
                        {% trans %}Vraag{% endtrans %} <span class="page-overview-order">{{ question.questionOrder }}</span>
                        {{ question.question|length > 200 ? question.question|slice(0, 200)~'...' : question.question }}
                    </a>
                    <span class="glyphicon glyphicon-trash clickable pull-right remove-custom-question" aria-hidden="true" data-question-id="{{ question.id }}"></span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="panel-footer panel-default">
        <div class="pull-right">
            <a class="btn btn-default" type="button" href="{{ path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'custom', 'name': 'start'}) }}">
                <span class="glyphicon glyphicon-floppy-disk text-primary"></span>
                {% trans %}Bewaar{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}