{% block courseResourcesStandardPage %}
    <div class="tab-pane fade in active">
        {% include 'ajax/create-courses/elements/standard.navigation.buttons.html.twig' with {'active': 'resources'} %}
        <br>
        <h4 class="centrum">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
            <b>5 | {% trans %}Documenten{% endtrans %}</b>
        </h4>
        <br>
        <div class="pull-right">
            <button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#resourceInstructionModal">
                <span class="glyphicon glyphicon-info-sign text-primary" aria-hidden="true"></span>
                {% trans %}Het toevoegen van documenten{% endtrans %}
            </button>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm remove-resource" data-type="google">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            {% trans %}Link{% endtrans %}
                        </button>
                    </div>
                    <h4>
                        <img src="{{ asset('images/resource-g.png') }}" class="img-rounded">
                        {% trans %}Google Drive{% endtrans %}
                    </h4>
                    <p class="resource-url">
                        {% if resources is not null and resources.googleDriveUrl is not null %}
                            <a href="{{ resources.googleDriveUrl }}" target="_blank">{{ resources.googleDriveUrl|slice(0, 50) }}</a>
                        {% endif %}
                    </p>
                    <div class="well well-sm">
                        <form>
                            <div class="form-group">
                                <label>{% trans %}Google Drive Url{% endtrans %}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control data-value" placeholder="{% trans %}De url van de google drive documenten{% endtrans %}" data-value-name="googleDriveUrl"
                                           value="{% if resources is not null and resources.googleDriveUrl is not null %}{{ resources.googleDriveUrl }}{% endif %}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default add-resource-url" type="button" data-type="google">
                                            <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                                            {% trans %}url{% endtrans %}
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm remove-resource" data-type="dropbox">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            {% trans %}Link{% endtrans %}
                        </button>
                    </div>
                    <h4>
                        <img src="{{ asset('images/resource-dropbox.png') }}" class="img-rounded">
                        {% trans %}Dropbox{% endtrans %}
                    </h4>
                    <p class="resource-url">
                        {% if resources is not null and resources.dropboxUrl is not null %}
                            <a href="{{ resources.dropboxUrl }}" target="_blank">{{ resources.dropboxUrl|slice(0, 50) }}</a>
                        {% endif %}
                    </p>
                    <div class="well well-sm">
                        <form>
                            <div class="form-group">
                                <label>{% trans %}Dropbox Url{% endtrans %}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control data-value" placeholder="{% trans %}De url van de dropbox documenten{% endtrans %}" data-value-name="dropboxUrl"
                                        value="{% if resources is not null and resources.dropboxUrl is not null %}{{ resources.dropboxUrl }}{% endif %}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default add-resource-url" type="button" data-type="dropbox">
                                            <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                                            {% trans %}url{% endtrans %}
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% include ':ajax/create-courses/elements:standard.footer.html.twig' with {'nextView': path('app_teach_edit_course_page', {'id': course.id, 'pageType': 'standard', 'name': 'card-schedule'})}%}
    </div>
{% endblock %}