{% block textVideoInstructionCustomPage %}
    <div class="tab-pane fade in active">
        <h4 class="centrum">
            <b>
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
                {% trans %}t.create_course.add_explanation{% endtrans %}
            </b>
        </h4>
        <br />
        <form class="form-horizontal" autocomplete="off">
            <div class="panel-body">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="control-label">{% trans %}t.create_course.f_label.page_title{% endtrans %}</label>
                        <input class="form-control data-value" data-value-name="title" placeholder="{% trans %}t.create_course.f_placeholder.page_title{% endtrans %}"
                               value="{% if instruction is defined %}{{ instruction.title }}{% endif %}">
                    </div>
                </div>
            <br />
            <div class="col-sm-6">
                <div class="form-group">
                    <label>{% trans %}t.create_course.f_label.youtube_url{% endtrans %}</label>
                    <div class="input-group">
                        <input type="text" class="form-control card-introduction-change-youtube-text data-value" data-value-name="youtubeUrl"
                               placeholder="{% trans %}t.create_course.f_placeholder.youtube_url{% endtrans %}"
                               value="{% if instruction is defined %}{{ instruction.youtubeUrl }}{% endif %}">
                        <span class="input-group-btn">
                            <button class="btn btn-default card-introduction-youtube-preview" type="button">
                                <span class="glyphicon glyphicon-plus text-success" aria-hidden="true"></span>
                                {% trans %}t.create_course.b.video{% endtrans %}
                            </button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addVideoTutorialModal">
                                <span class="glyphicon glyphicon-info-sign text-primary"></span>
                            </button>
                        </span>
                    </div>
                    <div class="card-introduction-youtube" data-error-text="{% trans %}t.create_course.youtube_url_not_recognized{% endtrans %}">
                        {% if instruction is defined %}
                            <div class="embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="{{ instruction.youtubeEmbedUrl }}" allowfullscreen></iframe>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label">{% trans %}t.create_course.f_label.explantion{% endtrans %}</label>
                    <textarea class="form-control data-value" data-value-name="contents" rows="8"
                              placeholder="{% trans %}t.create_course.f_placeholder.explantion_when_optional{% endtrans %}">{% if instruction is defined %}{{ instruction.contents }}{% endif %}</textarea>
                </div>
            </div>
            </div>
            <input class="data-value" data-value-name="type" value="video-text" type="hidden">
            {% if instruction is defined %}
                <input class="data-value" data-value-name="pageId" value="{{ instruction.id }}" type="hidden">
            {% endif %}
        </form>
        {% include ':ajax/create-courses/elements:standard.footer.html.twig' with {'nextView': path('app_teach_edit_course_page_page', {'id': course.id, 'pageType': 'custom', 'name': 'start'})} %}
    </div>
{% endblock %}