<div class="panel-footer">
    {% if currentOrder + 1 <= total + 1 %}
        {% if currentOrder + 1 > total %}
            <a href="{{ path('app_learn_study_panels_page', {'courseId': courseId, 'pageType': 'custom', 'name': 'final'}) }}" class="btn btn-default btn-sm pull-right next-page">
                {% trans %}o.frequently_used.next{% endtrans %}
                <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
        {% else %}
            <a href="{{ path('app_learn_study_pages_page', {'courseId': courseId, 'pageOrder': currentOrder + 1}) }}" class="btn btn-default btn-sm pull-right save-statistics next-page"
                data-course-id="{{ courseId }}" data-order="{{ currentOrder }}">
                {% trans %}o.frequently_used.next{% endtrans %}
                <span class="glyphicon glyphicon-arrow-right"></span>
            </a>
            {% if not moreButton and currentOrder <= 0 %}
                <br />
                <br />
            {% endif %}
        {% endif %}
    {% endif %}
    {% if currentOrder > 0 %}
        <a href="{{ path('app_learn_study_pages_page', {'courseId': courseId, 'pageOrder': currentOrder - 1}) }}" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-arrow-left"></span>
            {% trans %}o.frequently_used.previous{% endtrans %}
        </a>
    {% endif %}
    {% if moreButton %}
        <div class="btn-group">
            <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
                {% trans %}o.more{% endtrans %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="{{ path('app_other_report', {'course': courseId, 'coursePart': 'other', 'page': pageId}) }}">
                        <span class="glyphicon glyphicon-flag"></span>
                        {% trans %}o.notify{% endtrans %}
                    </a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>