{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <b>{% trans %}Laatste pagina{% endtrans %}</b>
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <hr />
        <div class="centrum">
            <h1>
                <b>{% trans %}Einde van de cursus{% endtrans %}</b>
            </h1>
            <button type="button" class="btn btn-default btn-sm check-report-completion" data-url="{{ path('app_learn_course_reports') }}">{% trans %}Bekijk cursusrapport{% endtrans %}</button>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="thumbnail centrum">
                    <h4>{% trans %}Cursusbeoordeling{% endtrans %}</h4>
                    {% if courseReview is null %}
                        <form class="form-horizontal">
                            <div class="form-group">
                                <div id="star" class="starrr clickable"></div>
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn btn-default add-quick-course-review" data-course-id="{{ course.id }}" data-url="{{ path('app_home_ajax_page') }}">
                                    <b>{% trans %}Verstuur{% endtrans %}</b>
                                </button>
                            </div>
                        </form>
                    {% else %}
                        <p>
                            {% trans %}Je hebt deze cursus op{% endtrans %} {{ courseReview.insertDateTime|date('d-m-Y') }} {% trans %}als volgt beoordeeld{% endtrans %}:
                            {% for z in 1..courseReview.contentRating %}
                                <img src="{{ asset('images/star_rating.png') }}" class="img-rounded" />
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="thumbnail centrum">
                    <h4>{% trans %}Review toevoegen{% endtrans %}</h4>
                    {% if is_granted('ROLE_USER') %}
                        {% if courseReview is null %}
                            <p>{% trans %}Deel je ervaring en vul een cursusreview in{% endtrans %}</p>
                            <button type="button" class="btn btn-default add-normal-review" data-toggle="modal" data-target="#addCourseReviewModal">
                                <span class="glyphicon glyphicon-plus text-success"></span>
                                {% trans %}Cursusreview{% endtrans %}
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addCourseReviewModal">
                                {% trans %}Bekijk review{% endtrans %}
                            </button>
                        {% endif %}
                    {% else %}
                        <p class="text-muted">{% trans %}Om een review te kunnen schrijven moet je zijn ingelogd{% endtrans %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block panelBaseFooter %}
    {% include ':panels/learn/study/custom:study.custom.panel.footer.html.twig' with {'moreButton': false, 'currentOrder': course.coursePages|length + 1, 'total': course.coursePages|length, 'courseId': course.id} %}
{% endblock %}