{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
    <span class="glyphicon glyphicon-info-sign text-primary" aria-hidden="true"></span> 
    {% trans %}ext_info.ext_info{% endtrans %}
    <a name="extensive-information"></a>
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body">
        <div class="btn-pref" role="group" aria-label="...">  
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-sm" href="#tabInfoIntro" data-toggle="tab">
                    <samp>{% trans %}o.frequently_used.introduction{% endtrans %}</samp>
                </button>
            </div> 
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoSearchData" data-toggle="tab">
                    <samp>{% trans %}ext_info.search_data{% endtrans %}</samp>
                </button>
            </div>  
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoCourseCard" data-toggle="tab">
                    <samp>{% trans %}o.frequently_used.course_card{% endtrans %}</samp>
                </button>
            </div>  
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoPlanning" data-toggle="tab">
                    <samp>{% trans %}o.frequently_used.planning{% endtrans %}</samp>
                </button>
            </div>  
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoAnnouncement" data-toggle="tab">
                    <samp>{% trans %}o.frequently_used.annoucements{% endtrans %}</samp>
                </button>
            </div>  
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoDocuments" data-toggle="tab">
                    <samp>{% trans %}o.documents{% endtrans %}</samp>
                </button>
            </div>  
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoExplantionPage" data-toggle="tab">
                    <samp>{% trans %}ext_info.explain_page{% endtrans %}</samp>
                </button>
            </div> 
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoAssignmentPage" data-toggle="tab">
                    <samp>{% trans %}ext_info.assignment_page{% endtrans %}</samp>
                </button>
            </div>   
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoAddVideo" data-toggle="tab">
                    <samp>{% trans %}ext_info.add_video{% endtrans %}</samp>
                </button>
            </div> 
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoPageOverview" data-toggle="tab">
                    <samp>{% trans %}o.frequently_used.page_overview{% endtrans %}</samp>
                </button>
            </div>            
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoPubliceCourse" data-toggle="tab">
                    <samp>{% trans %}ext_info.plublish_course{% endtrans %}</samp>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default btn-sm" href="#tabInfoRemoveCourse" data-toggle="tab">
                    <samp>{% trans %}ext_info.remove_course{% endtrans %}</samp>
                </button>
            </div>  		
        </div>  
        <div class="tab-content">
            <div class="tab-pane fade in active" id="tabInfoIntro">   
                <!-- -->                
                <h5 class="text-primary"><samp><b>{% trans %}ext_info.course_structure{% endtrans %}</b></samp></h5>   
                <p>{% trans %}
                    ext_info.course_structure.t_01
                {% endtrans %}</p>
                <ol start="1" type="1">
                    <li>
                        <strong>{% trans %}o.frequently_used.req_pages{% endtrans %}</strong>: {% trans %}
                         ext_info.search_date_course_card
                    {% endtrans %};</li>
                    <li>
                        <strong>{% trans %}o.frequently_used.standard_optional_pages{% endtrans %}</strong>: {% trans %}
                         ext_info.li.planning_etc
                    {% endtrans %};</li>
                    <li>
                        <strong>{% trans %}o.frequently_used.explantion_pages{% endtrans %}</strong>: {% trans %}
                         ext_info.li.videos_and_texts
                    {% endtrans %};</li>
                    <li>
                        <strong>{% trans %}o.frequently_used.assignment_pages{% endtrans %}</strong>: {% trans %}
                         ext_info.li.kind_of_questions
                    {% endtrans %}.</li>
                </ol>
                <p>{% trans %}ext_info.course_structure.t_02{% endtrans %}.</p>
                <h5 class="text-primary"><samp><b>{% trans %}ext_info.explain_structure{% endtrans %}</b></samp></h5> 
                <p>{% trans %}
                    ext_info.t_long.explain_structure
                {% endtrans %}.</p>
            </div>  
            <div class="tab-pane fade in" id="tabInfoSearchData">  
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5> 
                <p>{% trans %}ext_info.t_long.search_data{% endtrans %}.</p>
                  <div class="row">
                    <div class="col-md-6">   
                        <h5 class="text-primary"><samp><b>{% trans %}imo.where_edit_this_part{% endtrans %}</b></samp>?</h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/edit_search_data.png') }}" class="img-thumbnail">
                     </div>    
                    <div class="col-md-6">
                        <h5 class="text-primary"><samp><b>{% trans %}info.end_result_for_student{% endtrans %}</b></samp></h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/example_search_result.png') }}" class="img-thumbnail">  
                    </div>
                 </div>                        
            </div>                      
            <div class="tab-pane fade in" id="tabInfoCourseCard">     
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5> 
                <p>{% trans %}ext_info.t_long.course_card_01{% endtrans %}.</p>
                <p>{% trans %}ext_info.t_long.course_card_02{% endtrans %}:</p>
                <ol start="1" type="1">
                    <li>
                        <strong>{% trans %}imo.frequently_used.introduction{% endtrans %}</strong>: {% trans %}
                         imo.li.introduction_video_and_text
                    {% endtrans %};</li>
                    <li>
                        <strong>{% trans %}o.course_card.details{% endtrans %}</strong>: {% trans %}
                        ext_info.course_card.li.details
                    {% endtrans %};</li>
                    <li>
                        <strong>{% trans %}o.course_card.prereq{% endtrans %}</strong>{% trans %}
                         ext_info.course_card.li.prereq
                    {% endtrans %};</li>
                    <li>
                        <strong>{% trans %}o.frequently_used.provider{% endtrans %}</strong>: {% trans %}
                        ext_info.course_card.li.provider
                    {% endtrans %};</li>
                    <li>
                        <strong>{% trans %}o.course_card.instructors{% endtrans %}</strong>: {% trans %}
                         ext_info.course_card.li.instructeurs
                    {% endtrans %}.</li>
                </ol>
                <div class="row">
                    <div class="col-md-6">   
                        <h5 class="text-primary"><samp><b>{% trans %}imo.where_edit_this_part{% endtrans %}</b></samp>?</h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/edit_course_card.png') }}" class="img-thumbnail">
                     </div>    
                    <div class="col-md-6">
                        <h5 class="text-primary"><samp><b>{% trans %}info.end_result_for_student{% endtrans %}</b></samp></h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/example_course_card_and_search.png') }}" class="img-thumbnail">  
                    </div>
                 </div>             
            </div>   
            <div class="tab-pane fade in" id="tabInfoPlanning">         
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5> 
                <p>{% trans %}
                    ext_info.t_long.planning
                {% endtrans %}.</p>
                <div class="row">
                    <div class="col-md-6">   
                        <h5 class="text-primary"><samp><b>{% trans %}imo.where_edit_this_part{% endtrans %}</b></samp>?</h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/edit_planning.png') }}" class="img-thumbnail">
                     </div>    
                    <div class="col-md-6">
                        <h5 class="text-primary"><samp><b>{% trans %}info.end_result_for_student{% endtrans %}</b></samp></h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/example_planning.png') }}" class="img-thumbnail">  
                    </div>
                 </div>          
            </div>
            <div class="tab-pane fade in" id="tabInfoAnnouncement">   
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5> 
                <p>{% trans %}
                    ext_info.annoucenments
                {% endtrans %}.</p>
                <div class="row">
                    <div class="col-md-6">   
                        <h5 class="text-primary"><samp><b>{% trans %}imo.where_edit_this_part{% endtrans %}</b></samp>?</h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/edit_annoucement.png') }}" class="img-thumbnail">
                     </div>    
                    <div class="col-md-6">
                        <h5 class="text-primary"><samp><b>{% trans %}info.end_result_for_student{% endtrans %}</b></samp></h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/example_annoucement.png') }}" class="img-thumbnail"> 
                    </div>
                 </div>                                       
            </div>
            <div class="tab-pane fade in" id="tabInfoDocuments">         
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5> 
                <p>{% trans %}imo.frequently_used.ter_info.t_01{% endtrans %}.</p>
                <p>{% trans %}imo.frequently_used.ter_info.t_02{% endtrans %}.</p>
                
                <p>{% trans %}imo.frequently_used.ter_info.t_03{% endtrans %}.</p>
                <button class="btn btn-default btn-sm" type="button" data-toggle="modal" data-target="#resourceInstructionModal">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                    {% trans %}t.create_course.add_documents{% endtrans %}
                </button>     
                <div class="row">
                    <div class="col-md-6">   
                        <h5 class="text-primary"><samp><b>{% trans %}imo.where_edit_this_part{% endtrans %}</b></samp>?</h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/edit_documents.png') }}" class="img-thumbnail">
                     </div>    
                    <div class="col-md-6">
                        <h5 class="text-primary"><samp><b>{% trans %}info.end_result_for_student{% endtrans %}</b></samp></h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/example_documents.png') }}" class="img-thumbnail">  
                    </div>
                 </div>                          
            </div>   
            <div class="tab-pane fade in" id="tabInfoExplantionPage">
                            <!-- -->  
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5> 
                <p>{% trans %}ext_info.add_expl_page.t_long_01{% endtrans %}.</p>
                <h5 class="text-primary"><samp><b>{% trans %}ext_info.add_expl_page.edit_expl_page{% endtrans %}</b></samp></h5> 
                <div class="row">
                    <div class="col-md-6">   
                        <p class="text-primary">{% trans %}ext_info.add_expl_page.edit_expl_page.option_i{% endtrans %}</p>
                        <ol start="1" type="1">
                            <li>{% trans %}
                            ext_info.add_expl_page.edit_expl_page.option_i.li.step_01
                            {% endtrans %}.</li>
                            <li>{% trans %}
                            ext_info.add_expl_page.edit_expl_page.option_i.li.step_02
                            {% endtrans %}.</li>
                            <li>{% trans %}
                            ext_info.add_expl_page.edit_expl_page.option_i.li.step_03
                            {% endtrans %}.</li>
                            <li>{% trans %}
                            ext_info.add_expl_page.edit_expl_page.option_i.li.step_04
                            {% endtrans %}.</li>
                        </ol>
                     </div>
                     <div class="col-md-6">    
                        <p class="text-primary">{% trans %}ext_info.add_expl_page.edit_expl_page.option_ii{% endtrans %}</p>
                        <ol start="1" type="1">
                            <li>{% trans %}
                            ext_info.add_expl_page.edit_expl_page.option_ii.li.step_01
                            {% endtrans %}.</li>
                            <li>{% trans %}
                            ext_info.add_expl_page.edit_expl_page.option_ii.li.step_02
                            {% endtrans %}.</li>
                            <li>{% trans %}
                            ext_info.add_expl_page.edit_expl_page.option_ii.li.step_03
                            {% endtrans %}.</li>
                            <li>{% trans %}
                            ext_info.add_expl_page.edit_expl_page.option_ii.li.step_04
                            {% endtrans %}.</li>
                        </ol>
                     </div>    
                 </div> 
               <h5 class="text-primary"><samp><b>{% trans %}imo.where_edit_this_part{% endtrans %}</b></samp>?</h5> 
                  <div class="row">
                    <div class="col-md-6">  
                                <p class="text-primary">{% trans %}
                            ext_info.add_expl_page.result_video_and_text
                        {% endtrans %}</p>
                       <img src="{{ asset('images/'~app.request.locale~'/edit_text_and_video.png') }}" class="img-thumbnail">
                      </div>
                     <div class="col-md-6">   
                        <p class="text-primary">{% trans %}
                            ext_info.add_expl_page.result_text
                        {% endtrans %}</p>
                        <img src="{{ asset('images/'~app.request.locale~'/example_edit_text_page.png') }}" class="img-thumbnail">
                     </div>    
                 </div>
              <h5 class="text-primary"><samp><b>{% trans %}info.end_result_for_student{% endtrans %}</b></samp></h5>           
              <div class="row">
                    <div class="col-md-6">   
                         <p class="text-primary">{% trans %}
                            ext_info.add_expl_page.result_video_and_text
                        {% endtrans %}</p>
                        <img src="{{ asset('images/'~app.request.locale~'/example_video_and_text.png') }}" class="img-thumbnail">
                      </div>
                     <div class="col-md-6">   
                        <p class="text-primary">{% trans %}
                            ext_info.add_expl_page.result_text
                        {% endtrans %}</p>
                        <img src="{{ asset('images/'~app.request.locale~'/example_text.png') }}" class="img-thumbnail"> 
                    </div>
                 </div>  
            </div>
            <div class="tab-pane fade in" id="tabInfoAssignmentPage">      
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5>    
                <p>{% trans %}
                  ext_info.add_asign_page.t_long_01           
                {% endtrans %}.</p>
                <h5 class="text-primary"><samp><b>{% trans %}ext_info.add_asign_page.edit_page{% endtrans %}</b></samp></h5> 
                <p class="text-primary">{% trans %}
                    ext_info.add_asign_page.add_question
                {% endtrans %}</p>
                <ol start="1" type="1">
                    <li>{% trans %}
                    ext_info.add_asign_page.li.step_01
                    {% endtrans %}.</li>
                    <li>{% trans %}
                    ext_info.add_asign_page.li.step_02
                    {% endtrans %}.</li>
                    <li>
                    {% trans %}ext_info.add_asign_page.add_questions_to_page{% endtrans %}.
                    <br/>
                    <span class="text-primary">
                     {% trans %}ext_info.add_asign_page.add_questions_to_page.multi_quest{% endtrans %}.
                    </span>
                    <ol start="a" type="a">           
                        <li>{% trans %}
                        ext_info.add_asign_page.add_questions_to_page.multi_quest.li.step_a
                        {% endtrans %}.</li>
                        <li>{% trans %}
                        ext_info.add_asign_page.add_questions_to_page.multi_quest.li.step_b
                        {% endtrans %}.</li>
                    </ol>  
                    <span class="text-primary">
                     {% trans %}ext_info.add_asign_page.add_questions_to_page.open_quest{% endtrans %}.
                    </span>
                    <ol start="a" type="a">           
                        <li>{% trans %}
                        ext_info.add_asign_page.add_questions_to_page.open_quest.li.step_a
                        {% endtrans %}.</li>
                        <li>{% trans %}
                        ext_info.add_asign_page.add_questions_to_page.open_quest.li.step_b {% endtrans %}.</li>
                        <li>{% trans %}
                        ext_info.add_asign_page.add_questions_to_page.open_quest.li.step_c
                        {% endtrans %}.</li>
                        <li>{% trans %}
                         ext_info.add_asign_page.add_questions_to_page.open_quest.li.step_d
                        {% endtrans %}.</li>            
                    </ol>
                    </li>  
                </ol>
                <div class="row">
                    <div class="col-md-6">    
                        <h5 class="text-primary"><samp><b>{% trans %}imo.where_edit_this_part{% endtrans %}</b></samp>?</h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/edit_quiz.png') }}" class="img-thumbnail">
                     </div>
                     <div class="col-md-6">     
                        <h5 class="text-primary"><samp><b>{% trans %}info.end_result_for_student{% endtrans %}</b></samp></h5> 
                        <img src="{{ asset('images/'~app.request.locale~'/example_quiz.png') }}" class="img-thumbnail">
                     </div>
                 </div>       
            </div> 
            <div class="tab-pane fade in" id="tabInfoAddVideo">  
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5> 
                <p>{% trans %}ext_info.add_video.t_long_01{% endtrans %}.</p>
                 <h5 class="text-primary"><samp><b>{% trans %}ext_info.add_video.add_video{% endtrans %}</b></samp></h5>  
                <div class="row">
                    <div class="col-md-6">                      
                        <p class="text-primary">{% trans %}ext_info.add_video.add_video.option_i{% endtrans %}</p>
                        <p>{% trans %}ext_info.add_video.add_video.option_i.step_i{% endtrans %}.</p>
                        <p>{% trans %}ext_info.add_video.add_video.option_i.step_ii{% endtrans %}.</p>
                        <img src="{{ asset('images/'~app.request.locale~'/example_add_Youtube_option_01.png') }}" class="img-thumbnail">
                   </div>
                   <div class="col-md-6">       
                        <p class="text-primary">{% trans %}
                                ext_info.add_video.add_video.option_ii
                            {% endtrans %}</p>
                            <p>{% trans %}
                                ext_info.add_video.add_video.option_ii.li.step_a
                            {% endtrans %}.</p>
                            <p>{% trans %}
                            ext_info.add_video.add_video.option_ii.li.step_b
                            {% endtrans %}.</p>
                            <img src="{{ asset('images/'~app.request.locale~'/example_add_Youtube_option_02.png') }}" class="img-thumbnail">
                    </div>
                </div>                         
            </div> 
            <div class="tab-pane fade in" id="tabInfoPubliceCourse">     
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5> 
                <p>{% trans %}
                    ext_info.publish.t_long.min_req
                {% endtrans %}</p>
                <ul>
                    <li>{% trans %}
                    ext_info.publish.t_long.min_req_i
                    {% endtrans %};</li>
                    <li>{% trans %}
                    ext_info.publish.t_long.min_req_ii
                    {% endtrans %};</li>
                    <li>{% trans %}
                    ext_info.publish.t_long.min_req_iii
                    {% endtrans %}.</li>
                </ul>
                <p>{% trans %}
                    ext_info.publish.t_long.min_req_02
                {% endtrans %}.</p>
                <h5 class="text-primary"><samp><b>{% trans %}ext_info.publish.edit_after_publication{% endtrans %}</b></samp></h5> 
                <p>{% trans %}ext_info.publish.edit_after_publication.t_long_01{% endtrans %}.</p>
                <h5 class="text-primary"><samp><b>{% trans %}imo.where_edit_this_part{% endtrans %}</b></samp>?</h5> 
                <img src="{{ asset('images/'~app.request.locale~'/example_publish.png') }}" class="img-thumbnail">
            </div>     
            <div class="tab-pane fade in" id="tabInfoPageOverview">     
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5> 
                <p>{% trans %}ext_info.page_overview.t_long_01{% endtrans %}.</p>
                <h5 class="text-primary"><samp><b>{% trans %}ext_info.page_overview.where_page_overview {% endtrans %}</b></samp></h5> 
                <img src="{{ asset('images/'~app.request.locale~'/example_page_overview.png') }}" class="img-thumbnail">
            </div>   
            <div class="tab-pane fade in" id="tabInfoRemoveCourse">   
                <h5 class="text-primary"><samp><b>{% trans %}info.ter_info{% endtrans %}</b></samp></h5>          
                <p>{% trans %}ext_info.remove_course.t_long_01{% endtrans %}.</p>
            </div>  
        </div>          
    </div>
{% endblock %}