{% block courseDetailsRow %}
    <div class="panel panel-default" data-course-panel-id="{{ course.id }}">
        <div class="centrum breadcrumb">
            <a href="{{ path('app_learn_study_course_page', {'courseId': course.id}) }}">{{ course.name }}</a>
        </div>
        <div class="media-list">
            <div class="media">
                <span class="pull-left remove-responsive-800">
                    <img src="{{ asset('images/logo-skhole.png') }}" class="media-object">
                </span>
                <div class="pull-right">
                    <div class="btn-group-vertical" style="width: 150px;">
                        <a href="{{ path('app_learn_study_course_page', {'courseId': course.id}) }}" class="btn btn-primary btn-sm">
                              {% trans %}o.frequently_used.to_course{% endtrans %}
                        </a>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseCardDetailsModal{{ index }}">
                             {% trans %}o.frequently_used.course_card{% endtrans %}
                        </button>
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#courseReviewsModal{{ index }}">
                            {% trans %}o.frequently_used.reviews{% endtrans %}
                        </button>
                        {% if is_granted('ROLE_USER') %}
                            {% if  not inCollection %}
                                <button type="button" class="btn btn-default btn-sm add-to-collection" data-course-id="{{ course.id }}" data-url="{{ path('app_home_ajax_page') }}"
                                        data-name="{% trans %}o.frequently_used.to_course_basket{% endtrans %}" data-href-url="{{ path('app_learn_course_collection_page') }}">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                     {% trans %}o.frequently_used.add_to_course_basket{% endtrans %}
                                </button>
                            {% else %}
                                <a href="{{ path('app_learn_course_collection_page') }}" class="btn btn-default btn-sm">
                                     <b>{% trans %}o.frequently_used.to_course_basket{% endtrans %}</b>
                                </a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="media-body">
                    {% if course.description is not null %}
                        {{ course.description|length > 250 ? course.description|slice(0, 250) ~ '...' : course.description}}
                    {% endif %}
                    <br />
                    {% include ':ajax/components/course-card:course.card.detail.buttons.public.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}