{% block announcementRow %}
    <ul class="media-list announcement-row" data-announcement-id="{{ announcement.id }}">
        <li class="media">
            <div class="media-body row">
                <div class="col-md-9">
                    <h4>{{ announcement.title }}</h4>
                    <p>{% if announcement.contents|length > 150 %}{{ announcement.contents|slice(0, 150) ~ '...' }}{% else %}{{ announcement.contents }}{% endif %}</p>
                </div>
                <div class="btn-group-vertical col-md-3">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{ modalId }}">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                        {% trans %}Bekijk{% endtrans %}
                    </button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#removeCourseAnnouncementModal{{ index }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        {% trans %}Mededeling{% endtrans %}
                    </button>
                </div>
                <br />
            </div>
        </li>
    </ul>
{% endblock %}