{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <img src="{{ asset('images/gebruiker.png') }}" class="img-rounded profile-picture" alt="{% trans %}alt.user{% endtrans %}" title="{% trans %}alt.user{% endtrans %}">
        {% trans %}mo.personal_details{% endtrans %}
    </h4>
{% endblock %}

{% block modalBaseContents %}
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}mo.personal_details.first_name{% endtrans %}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control data-value" data-value-name="firstName" placeholder="{% trans %}mo.personal_details.first_name{% endtrans %}" value="{{ app.user.firstName }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}mo.personal_details.last_name{% endtrans %}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control data-value" data-value-name="surname" placeholder="{% trans %}mo.personal_details.last_name{% endtrans %}" value="{{ app.user.surname }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}mo.personal_details.email{% endtrans %}</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control data-value" data-value-name="email" placeholder="{% trans %}mo.personal_details.email{% endtrans %}" value="{{ app.user.customEmail }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}mo.personal_details.date_of_birth{% endtrans %}</label>
                <div class="col-sm-10">
                    <input id="date-picker" type="text" class="form-control data-value" data-value-name="dateOfBirth" placeholder="{% trans %}mo.personal_details.date_of_birth{% endtrans %}"
                           value="{{ app.user.dateOfBirth is not null ? app.user.dateOfBirth|date('d-m-Y') : '' }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}mo.personal_details.country{% endtrans %}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control data-value" data-value-name="country" placeholder="{% trans %}mo.personal_details.country{% endtrans %}" value="{{ app.user.country }}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{% trans %}mo.personal_details.language{% endtrans %}</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control data-value" data-value-name="language" placeholder="{% trans %}mo.personal_details.language{% endtrans %}" value="{{ app.user.language }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">{% trans %}mo.personal_details.select_profile_picture{% endtrans %}</label>
                        <input id="profile-picture-upload" type="file">
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="control-label">{% trans %}mo.personal_details.current_image{% endtrans %}</label>
                    <br />
                    <div class="profile-picture-preview" data-error="{% trans %}mo.personal_details.select_img_right_extention{% endtrans %}">
                        <img src="{{ app.user.picture is not null ? asset(app.user.picture) : asset('images/gebruiker.png') }}" class="profile-picture-preview-img" alt="{% trans %}alt.user{% endtrans %}" title="{% trans %}alt.user{% endtrans %}">
                        <span class="glyphicon glyphicon-trash clickable remove-user-picture" data-standard-picture="{{ asset('images/gebruiker.png') }}"
                              data-url="{{ path('app_home_ajax_page') }}"></span>
                    </div>
                </div>
            </div>
            <input type="hidden" class="uploaded-profile-picture data-value" data-value-name="picture" value="{% if app.user.picture is not null %}{{ app.user.picture }}{% endif %}">
            <input type="hidden" class="picture-upload-path" value="{{ path('app_secure_ajax_upload_picture') }}">
        </form>
    </div>
{% endblock %}

{% block modalBaseFooter %}
    <div class="modal-footer">
        <button class="btn btn-default save-profile" type="button" data-url="{{ path('app_home_ajax_page') }}">
            <span class="glyphicon glyphicon-floppy-disk text-primary" aria-hidden="true"></span>
            {% trans %}o.frequently_used.save_and_close{% endtrans %}
        </button>
        <button class="btn btn-default" data-dismiss="modal" type="button">{% trans %}o.frequently_used.cancel{% endtrans %}</button>
    </div>
{% endblock %}