{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <img src="{{ asset('images/logo-skhole.png') }}" class="img-rounded">
        {% trans %}mo.education_details{% endtrans %}
    </h4>
{% endblock %}

{% block modalBaseContents %}
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {% trans %}mo.education.study_year{% endtrans %}
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control data-value" data-value-name="schoolYear" placeholder="{% trans %}mo.education.f_placeholder.study_year{% endtrans %}"
                        value="{% if education is not null %}{{ education.schoolYear }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {% trans %}mo.education.class{% endtrans %}
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control data-value" data-value-name="class" placeholder="{% trans %}mo.education.f_placeholder.class_name{% endtrans %}"
                        value="{% if education is not null %}{{ education.class }}{% endif %}">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">
                    {% trans %}mo.education.school_level{% endtrans %}
                </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control data-value" data-value-name="level" placeholder="{% trans %}mo.education.f_placeholder.school_level{% endtrans %}"
                        value="{% if education is not null %}{{ education.level }}{% endif %}">
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block modalBaseFooter %}
    <div class="modal-footer">
        <button class="btn btn-default save-education" type="button" data-url="{{ path('app_home_ajax_page') }}">
            <span class="glyphicon glyphicon-floppy-disk text-primary" aria-hidden="true"></span>
            {% trans %}o.frequently_used.save_and_close{% endtrans %}
        </button>
        <button class="btn btn-default" data-dismiss="modal" type="button">{% trans %}o.frequently_used.cancel{% endtrans %}</button>
    </div>
{% endblock %}