{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-info-sign text-primary" aria-hidden="true"></span>
             {% trans %}o.button.create_course{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <div class="btn-pref" role="group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm btn-primary" href="#tabIntroduction{{ modalId }}" data-toggle="tab">
                    <b>{% trans %}imo.frequently_used.introduction{% endtrans %}</b>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm" href="#tabStep1{{ modalId }}" data-toggle="tab">
                    <b>{% trans %}imo.frequently_used.step_01{% endtrans %}</b>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm" href="#tabStep2{{ modalId }}" data-toggle="tab">
                    <b>{% trans %}imo.frequently_used.step_02{% endtrans %}</b>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm" href="#tabStep3{{ modalId }}" data-toggle="tab">
                    <b>{% trans %}imo.frequently_used.step_03{% endtrans %}</b>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-sm" href="#tabStep4{{ modalId }}" data-toggle="tab">
                    <b>{% trans %}imo.frequently_used.more_info{% endtrans %}</b>
                </button>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tabIntroduction{{ modalId }}">
                <div class="explanation-background">
                    <br />
                    <br />
                    <div class="centrum">
                        <img src="{{ asset('images/logo-schoolbook.png') }}" class="img-rounded">
                        <h1 class="text-primary">{% trans %}o.button.create_course{% endtrans %}</h1>
                        <p class="lead text-muted">{% trans %}mo.create_course.sub_title{% endtrans %}</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="tabStep1{{ modalId }}">
                <div class="explanation-background">  

                    <h4 class="text-primary">
                        <b>{% trans %}imo.frequently_used.step_01{% endtrans %}:</b>
                        {% trans %}imo.create_course.step_01.t_long_01{% endtrans %}
                    </h4>
                    <p>{% trans %}imo.create_course.step_01.t_long_02{% endtrans %}:</p>
                    <ol>
                        <li>
                            <b>{% trans %}ext_info.search_data{% endtrans %}:</b> 
                            {% trans %}imo.create_course.step_01.li.li_01{% endtrans %}.
                        </li>
                        <li>
                            <b>{% trans %}o.frequently_used.course_card{% endtrans %}:</b> 
                            {% trans %}imo.create_course.step_01.li.li_02{% endtrans %}.
                        </li>
                        <li>
                        <b>{% trans %}o.frequently_used.planning{% endtrans %}:</b> 
                            {% trans %}imo.follow_course.step_04.li.week_planning{% endtrans %}.
                        </li>
                        <li>
                        <b>{% trans %}o.frequently_used.annoucements{% endtrans %}:</b> 
                            {% trans %}imo.create_course.step_01.li.li_04{% endtrans %}. 
                        </li>
                        <li>
                        <b>{% trans %}o.documents{% endtrans %}:</b> 
                            {% trans %}imo.create_course.step_01.li.li_05{% endtrans %}. 
                        </li>
                    </ol>   

                      <h4 class="text-primary">{% trans %}imo.create_course.course_structure{% endtrans %}</h4>
                    <p>{% trans %}imo.create_course.course_structure.t_long_01{% endtrans %}: </p>
                    <ol>
                        <li>
                    	    <b>{% trans %}o.frequently_used.req_pages{% endtrans %}:</b> 
                            {% trans %}imo.create_course.step_intro.li.li_01{% endtrans %}; 
                    	</li>
                        <li>
                            <b>{% trans %}o.frequently_used.standard_optional_pages{% endtrans %}:</b> 
                            {% trans %}imo.create_course.step_intro.li.li_02{% endtrans %};
                        </li>
                        <li>
                    	<b>{% trans %}o.frequently_used.explantion_pages{% endtrans %}:</b> 
                            {% trans %}imo.create_course.step_intro.li.li_03{% endtrans %};
                        </li>
                        <li>
                    	<b>{% trans %}o.frequently_used.assignment_pages{% endtrans %}:</b> 
                            {% trans %}imo.create_course.step_intro.li.li_04{% endtrans %}. 
                        </li>
                    </ol>  
                </div>
            </div>
            <div class="tab-pane fade" id="tabStep2{{ modalId }}">
                <div class="explanation-background">
                    <h4 class="text-primary">
                        <b>{% trans %}imo.frequently_used.step_02{% endtrans %}:</b>
                        {% trans %}imo.create_course.step_02.add_pages{% endtrans %}
                    </h4>
                    <p>
                        {% trans %}
                           imo.create_course.step_02.add_pages.t_long_01
                        {% endtrans %}.
                    </p>
                </div>
            </div>
            <div class="tab-pane fade" id="tabStep3{{ modalId }}">
                <div class="explanation-background">
                    <h4 class="text-primary">
                        <b>{% trans %}imo.frequently_used.step_03{% endtrans %}:</b>
                        {% trans %}t.create_course.b.publish_course{% endtrans %}
                    </h4>
                    <p>
                        {% trans %}
                            imo.create_course.step_03.publish.t_long_01
                        {% endtrans %}.
                    </p>
                   
                </div>
            </div>
            <div class="tab-pane fade" id="tabStep4{{ modalId }}">
                <div class="explanation-background">
                    <h4 class="text-primary">
                        <b>{% trans %}imo.frequently_used.more_info{% endtrans %}</b>
                    </h4>                 
                    <p>
                        {% trans %} imo.create_course.step_more.t_long_01{% endtrans %} <a href="#TODO">{% trans %}imo.create_course.step_more.a.getting_started{% endtrans %}</a> 
                         {% trans %}imo.create_course.step_more.t_long_02{% endtrans %}.
                    </p>         
                </div>
            </div>
        </div>
    </div>
 
{% endblock %}
{% block closeButtonText %}
    {% trans %}o.frequently_used.close{% endtrans %}
{% endblock %}
{% set modalBaseType = 'close' %}