{% extends 'modal/modal.base.html.twig' %}
{% block modalBaseHeader %}
    <h4 class="modal-title centrum" id="{{ modalId }}">
        <b>
            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            {% trans %}mo.login{% endtrans %}
        </b>
    </h4>
{% endblock %}
{% block modalBaseContents %}
    <div class="modal-body">
        <div class="tab-content">
            <div class="tab-pane fade active in" id="tabLoginSocial">
                <div class="centrum">
                    <a href="{{ path('hwi_oauth_connect') }}facebook" class="btn btn-default load-login-spinner">
                        <img src="{{ asset('images/login-fb.png') }}" class="img-rounded" />
                        {% trans %}mo.login.facebook{% endtrans %}
                    </a>
                    <p></p>
                    <a href="{{ path('hwi_oauth_connect') }}google" class="btn btn-default load-login-spinner">
                        <img src="{{ asset('images/login-g.png') }}">
                        {% trans %}mo.login.google{% endtrans %}
                    </a>
                    <hr/>
                     <p>{% trans %}mo.login.t_long_01{% endtrans %} <a href="{{ path('app_other_legal', {'_locale': app.request.locale, 'page': 'conditions'}) }}">{% trans %}mo.login.a.user_terms{% endtrans %}</a> {% trans %}mo.login.t_long_02{% endtrans %} <a href="{{ path('app_other_legal', {'_locale': app.request.locale, 'page': 'privacy'}) }}">{% trans %}mo.login.a.privacy_policy{% endtrans %}</a> {% trans %}mo.login.t_long_03{% endtrans %}.</p>
                </div>
                <hr />
                <div class="modal-info-background centrum">
                    <p>
                        <b>{% trans %}mo.login.no_account_yet{% endtrans %}?</b>
                        <br />
                        {% trans %}mo.login.t_long.no_account_yet{% endtrans %}. <a href="#tabLoginInfo" data-toggle="tab" aria-expanded="true">{% trans %}mo.login.t_long.no_account_yet.more_info{% endtrans %}</a>
                    </p>
                </div>
            </div>
            <div class="tab-pane fade" id="tabLoginInfo">
                <div class="explanation-background">
                    <h4 class="centrum">
                        <span class="glyphicon glyphicon-info-sign text-primary" aria-hidden="true"></span>
                        {% trans %}mo.login.info_account.create_account{% endtrans %}
                    </h4>
                    <hr />
                    <h5 class="text-primary">
                        <b>{% trans %}mo.login.info_account.step_01{% endtrans %}:</b>
                        {% trans %}mo.login.info_account.01{% endtrans %}
                    </h5>
                    <p>{% trans %}mo.login.info_account.02{% endtrans %}:</p>
                    <ul>
                        <li>{% trans %}mo.login.info_account.li.name{% endtrans %};</li>
                        <li>{% trans %}mo.login.info_account.li.email{% endtrans %};</li>
                        <li>{% trans %}mo.login.info_account.li.date_of_birth{% endtrans %};</li>
                        <li>{% trans %}mo.login.info_account.li.your_social_account{% endtrans %}.</li>
                    </ul>
                    <h5 class="text-primary">
                        <b>{% trans %}mo.login.info_account.step_02{% endtrans %}:</b>
                        {% trans %}mo.login.info_account.done{% endtrans %}
                    </h5>
                    <p>{% trans %}mo.login.info_account.03{% endtrans %}</p>
                    <div class="pull-right">
                        <button type="button" class="btn btn-default btn-sm" href="#tabLoginSocial" data-toggle="tab" aria-expanded="true">
                            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            {% trans %}mo.login.info_account.back{% endtrans %}
                        </button>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block closeButtonText %}
    {% trans %}o.frequently_used.close{% endtrans %}
{% endblock %}
{% set modalBaseType = 'close' %}