{% block cardTeacherRow %}
    <ul class="media-list">
        <li class="media" data-teacher-id="{{ teacher.id }}">
            <div class="pull-left teacher-picture-row-image">
                <img src="{% if teacher.pictureUrl is not null %}{{ asset(teacher.pictureUrl) }}{% else %}{{ asset('images/head-wiseguy.png') }}{% endif %}" class="media-object teacher-row-picture" alt="{% trans %}alt.teachter_picture{% endtrans %}" title="{% trans %}alt.teachter_picture{% endtrans %}">
            </div>
            <div class="media-body">
                <div class="btn-group-vertical pull-right">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#{{ modalId }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        {% trans %}t.create_course.edit{% endtrans %}
                    </button>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#removeTeacherModal{{ index }}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        {% trans %}t.create_course.instructor{% endtrans %}
                    </button>
                </div>
                <h4 class="teacher-name">{{ teacher.name|default('-') }}</h4>
                <p class="teacher-description">{{ teacher.description|default('-') }}</p>
                <br />
            </div>
        </li>
    </ul>
{% endblock %}