{% extends 'panels/panel.base.html.twig' %}
{% block panelBaseTitle %}
     {% trans %}o.frequently_used.search{% endtrans %}
{% endblock %}
{% block panelBaseContents %}
    <div class="panel-body" data-url="{{ url('app_home_ajax_page') }}" id="search-forms">
        <br />
        <br />
        <form class="form-horizontal" id="simple-search" style="max-width: 600px; margin: 0 auto;">
            <div class="input-group">
                <input type="text" class="form-control simple-search-value" placeholder="{% trans %}h.search.f_placeholder.search_query{% endtrans %}">
                <span class="input-group-btn">
                    <button class="btn btn-default simple-search" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        <span class="remove-responsive-400">{% trans %}h.search.search{% endtrans %}</span>
                    </button>
                </span>
            </div>
        </form>
        <br />
        <div class="panel-group" id="accordion" role="tablist">
            <div class="centrum">
                <a class="clickable" data-toggle="collapse" data-parent="#accordion" href="#collapseSearch" aria-expanded="true" aria-controls="collapseSearch">
                    {% trans %}h.search.advanced_search{% endtrans %}
                </a>
            </div>
            <br />
            <div id="collapseSearch" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSearch" aria-expanded="true">
                <form id="complex-search" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">{% trans %}h.search.advanced_search.keywords{% endtrans %}</label>
                        <div class="col-sm-10">
                            <input class="form-control data-value" data-value-name="tags" placeholder="{% trans %}h.search.advanced_search.f_placeholder.keywords{% endtrans %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{% trans %}h.search.advanced_search.provider{% endtrans %}</label>
                        <div class="col-sm-10">
                            <input class="form-control data-value" data-value-name="providers" placeholder="{% trans %}h.search.advanced_search.f_placeholder.provider{% endtrans %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{% trans %}h.search.advanced_search.instructor{% endtrans %}</label>
                        <div class="col-sm-10">
                            <input class="form-control data-value" data-value-name="teachers" placeholder="{% trans %}h.search.advanced_search.f_placeholder.instructor{% endtrans %}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{% trans %}h.search.advanced_search.language{% endtrans %}</label>
                        <div class="col-sm-10">
                            <select class="form-control data-value" data-value-name="languages">
                                <option value="-1" selected="selected">{% trans %}h.search.advanced_search.not_applicable{% endtrans %}</option>
                                {% for language in languages %}
                                    <option value="{{ language.id }}">{{ language.language|trans({},'db') }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{% trans %}h.search.advanced_search.level{% endtrans %}</label>
                        <div class="col-sm-10">
                            <select class="form-control data-value" data-value-name="levels">
                                <option value="-1" selected="selected">{% trans %}h.search.advanced_search.not_applicable{% endtrans %}</option>
                                {% for level in levels %}
                                    <option value="{{ level.id }}">{{ level.levelLong|trans({},'db') }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">{% trans %}t.create_course.f_label_category{% endtrans %}</label>
                        <div class="col-sm-10">
                            <select class="form-control data-value" data-value-name="categories">
                                <option value="-1" selected="selected">{% trans %}h.search.advanced_search.not_applicable{% endtrans %}</option>
                                {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category.translation|trans({}, 'db') }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default pull-right complex-search">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                {% trans %}h.search.search{% endtrans %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="centrum">
            <button id="show-search-categories" class="btn btn-primary btn-lg">{% trans %}h.view_course_collection{% endtrans %} ({{ totalCourses }})</button>
            <button id="show-most-popular-courses" class="btn btn-default" data-url="{{ path('app_home_ajax_page') }}">{% trans %}top_10_popular_courses{% endtrans %}</button>
        </div>
        <hr>
        <div id="category-picker" class="panel-body-pages thumbnail centrum">
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item clickable search-for-category" data-category-id="{{ category.id }}">
                        <span class="badge">{{ categoryCounts[category.category] }}</span>
                        {{ category.translation|trans({}, 'db') }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}