{% block reportDetailBody %}
    <div class="panel panel-default" data-report-id="{{ report.id }}">
        <div class="centrum">
            <span class="breadcrumb">
                <samp class="text-muted">
                    <b>{% trans %}o.course_report.t.course_report{% endtrans %}</b>
                </samp>
            </span>
        </div>
        <div class="media-list">
            <div class="media">
                <div class="pull-right">
                    <div class="btn-group-vertical">
                        <a href="{{ path('app_learn_course_report_details', {'id': report.id}) }}" class="btn btn-primary btn-sm" type="button">{% trans %}o.course_report.b.view_result{% endtrans %}</a>
                        <button class="btn btn-default btn-sm" data-target="#shareReportModal{{ index }}" data-toggle="modal" type="button">{% trans %}o.course_report.b.share_report{% endtrans %}</button>
                        <button class="btn btn-default btn-sm" data-target="#removeReportModal{{ index }}" data-toggle="modal" type="button">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            {% trans %}o.course_report.t.report{% endtrans %}
                        </button>
                    </div>
                </div>
                <div class="pull-left">
                    <img src="{{ asset('images/denker.png') }}" class="media-object" alt="{% trans %}alt.thinking_guy{% endtrans %}" title="{% trans %}alt.thinking_guy{% endtrans %}"/>
                </div>
                <div class="media-body">
                    <span>
                       {% trans %}o.course_report.t_long.report_belongs_to_part_01{% endtrans %}:
                        <a href="#" data-target="#courseCardModal{{ index }}" data-toggle="modal">{{ report.course.name }}</a>.
                       {% trans %}o.course_report.t_long.report_belongs_to_part_02{% endtrans %}.
                       {% trans %}o.course_report.t_long.report_belongs_to_part_03{% endtrans %} <a target="_blank" href="{{ path('app_generate_report_pdf', {'reportId': report.id}) }}"><b><samp>{% trans %}o.course_report.pdf{% endtrans %}</samp></b></a>
                    </span>
                    <br>
                    <button class="btn btn-default btn-xs unclickable" type="button">
                          <b>{% trans %}o.course_report.finished{% endtrans %}:</b>
                        {{ report.finishedDateTime|date('d-m-Y') }}
                    </button>
                    <button class="btn btn-default btn-xs unclickable" type="button">
                        <b class="text-primary">{% trans %}o.course_report.percentage_right_questions{% endtrans %}:</b>
                        {{ report.getAverageCorrectMultipleChoice|number_format(0) }}%
                    </button>
                    {% for shared in report.sharedReports if shared.hasAccepted %}
                        <button class="btn btn-default btn-xs unclickable" type="button">
                            <b>{% trans %}o.course_report.shared_with{% endtrans %}:</b>
                            {{ shared.mentor.realName }}
                        </button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}