{% block reportFrontBody %}
    {% set pdfLayout = usePdfLayout is defined ? usePdfLayout : false %}
    <div class="centrum">
        <img src="{{ asset('images/logo-schoolbook.png') }}" class="img-rounded">
        <h1 class="text-primary">
            <samp>{% trans %}o.course_report.t.course_report{% endtrans %}</samp>
        </h1>
        <h4 class="text-muted">{{ report.course.name }}</h4>
        <span><samp>{% trans %}t.link.studylivre{% endtrans %}</samp></span>
    </div>
    <hr />
    <h4>
        {% if report.user is not null %}
            <img src="{% if report.user.picture is not null %}{{ report.user.picture }}{% else %}{{ asset('images/gebruiker.png') }}{% endif %}" class="img-rounded teacher-row-picture">
            {{ report.user.firstName|capitalize }} {{ report.user.surname|capitalize }}
        {% else %}
            <img src="{{ asset('images/gebruiker.png') }}" class="img-rounded teacher-row-picture">
            {% trans %}o.course_rating.anonymous{% endtrans %}
        {% endif %}
    </h4>
    <button class="btn btn-default btn-xs unclickable" type="button">
        <b>{% trans %}o.course_report.finished{% endtrans %}:</b>
        {{ report.finishedDateTime|date('d-m-Y') }}
    </button>
    <br/>
    <button class="btn btn-default btn-xs unclickable" type="button">
        <b class="text-primary">{% trans %}o.course_report.percentage_right_questions{% endtrans %}:</b>
        {{ report.getAverageCorrectMultipleChoice|number_format(0) }}%
    </button>
    
    {% if viewType == 'learn' %}
        {% if pdfLayout %}
            <br>
            {% trans %}o.course_report.shared_with{% endtrans %}:
            <br>
            {% for shared in report.sharedReports if shared.hasAccepted %}
                {{ shared.mentor.realName }}
                <br>
            {% endfor %}
        {% else %}
            {% for shared in report.sharedReports if shared.hasAccepted %}
                <button class="btn btn-default btn-xs unclickable" type="button">
                    <b>{% trans %}o.course_report.shared_with{% endtrans %}:</b>
                    {{ shared.mentor.realName }}
                </button>
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}