{% block reportOverviewBody %}
    <h2 class="text-primary">
        <samp>{% trans %}0.frequently_used.index{% endtrans %}</samp>
    </h2>
    {% for page in pages %}
        {% if createPdfLinks is defined and createPdfLinks %}
            <a href="#{{ page.id }}">{% trans %}0.frequently_used.page{% endtrans %} {{ loop.index }}: {{ page.title }}</a>
        {% else %}
            {% if viewType == 'learn' %}
                <a href="{{ path('app_learn_course_report_details_page', {'id': report.id, 'pageId': page.id}) }}">
                    {% trans %}0.frequently_used.page{% endtrans %} {{ loop.index }}: {{ page.title }}
                </a>
            {% elseif viewType == 'teach' %}
                <a href="{{ path('app_teach_show_report_page', {'id': sharedReport.id, 'pageId': page.id}) }}">
                    {% trans %}0.frequently_used.page{% endtrans %} {{ loop.index }}: {{ page.title }}
                </a>
            {% endif %}
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}